
h1,
h2,
h3,
h4,
h5,
h6{
  font-family: 'Anton', sans-serif;
}

p{
  font-family: 'Jura', sans-serif;
}

.myNav{
    position: fixed;
    width: 100%;
    color: #fff;
    background: rgba(54, 50, 50, 0.28);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.9px);
    -webkit-backdrop-filter: blur(10.9px);
    border: 1px solid rgba(255, 255, 255, 0.14);
    background-size: cover;
    z-index: 10;
  }

  .myNav img{
    width: 50px;
    margin: auto 10px;
  }

  .jumbotron {
    background-image: url("../images/background02.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: calc(100vh - 25px);
    display: flex;
    align-items: center;
    justify-content: center;
  }

.jumbocopy{
  justify-content: center;
  background: rgba(255, 255, 255, 0.28);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.9px);
  -webkit-backdrop-filter: blur(10.9px);
  border: 1px solid rgba(255, 255, 255, 0.14);
  min-width: 500px;
  max-width: 700px;
  color: #fff;
  text-align: center;
  padding: 20px 20px;
  margin: auto;
}

.workPortifolio img{
  margin: 50px auto;
  align-items: center;
  justify-content: center;
}


.containerContent{
  background-color: rgb(226, 101, 101);
  justify-content: center;
  padding: 100px 50px;
}

.heading{
  font-family:"Unbounded";
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin: 50px auto;
}

.card{
  margin-top: 20px;
  text-align: center;
  color: #fff;
  font-size: 2rem;
  margin: auto 10px;
  background: rgb(226,101,101);
  background: linear-gradient(180deg, rgba(226,101,101,1) 0%, rgba(255,55,0,0) 100%, rgba(0,0,0,1) 100%);
}

.row{
 justify-content: center;
  margin: 50px 100PX;
}

.contactAbout{
  background: url("../images/backgroud1.png") no-repeat center center fixed;
  background-size: 100%;
  background-position: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 500px;
}
