
h1,
h2,
h3,
h4,
h5,
h6{
  font-family: 'Anton', sans-serif;
}

p{
  font-family: 'Jura', sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

.myNav{
    position: fixed;
    width: 100%;
    color: #fff;
    background: rgba(54, 50, 50, 0.28);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.9px);
    -webkit-backdrop-filter: blur(10.9px);
    border: 1px solid rgba(255, 255, 255, 0.14);
    background-size: cover;
    z-index: 10;
  }

  .myNav img{
    width: 50px;
    margin: auto 10px;
  }

  .navbar-nav a{
    font-size: 1.2rem;
    margin: auto 10px;
    transition: 100ms;
    transform-origin: center;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }

  .navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
  }

  .nav-link:hover{
    position:static;
    color: rgb(226, 101, 101);
    background: rgba(54, 50, 50, 0.28);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.9px);
    -webkit-backdrop-filter: blur(10.9px);
    border-radius: 1px;
    list-style: none;
    font-weight: bold;
    text-decoration: none;
  }

  .btn{
    background-color: rgb(226, 101, 101);
  }

  .jumbotron {
    background-image: url("../images/background02.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 25px);
    display: flex;
    align-items: center;
    justify-content: center;
  }

.jumbocopy{
  justify-content: center;
  background: rgba(255, 255, 255, 0.28);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.9px);
  -webkit-backdrop-filter: blur(10.9px);
  border: 1px solid rgba(255, 255, 255, 0.14);
  min-width: 500px;
  max-width: 700px;
  color: #fff;
  text-align: center;
  padding: 20px 20px;
  margin: auto;
}

.workPortifolio img{
  margin: 50px auto;
  align-items: center;
  justify-content: center;
}

.carousel-inner{
  font-size: 3rem;
  transition: 100ms;
    transform-origin: center;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.carousel-inner img:hover{
  position:static;
  color: rgb(243, 240, 240);
  background: rgba(54, 50, 50, 0.28);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.9px);
  -webkit-backdrop-filter: blur(10.9px);
  border-radius: 1px;
  list-style: none;
  font-weight: bold;
  font-size: 3em;
  text-decoration: none;
}


#containerContent{
  background-color: rgb(226, 101, 101);
  justify-content: center;
  padding: 50px 50px;
}

.heading{
 justify-content: center;
  font-family:"Unbounded";
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin: 50px auto;
}

.card{
  margin-top: 20px;
  text-align: center;
  color: #fff;
  font-size: 2rem;
  margin: auto 30px;
  background: rgb(226,101,101);
  background: linear-gradient(180deg, rgba(226,101,101,1) 0%, rgba(255,55,0,0) 100%, rgba(0,0,0,1) 100%);
  transition: 500ms;
  transform-origin: center;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.card:hover{
  transition: 500ms;
  transform: scale(1.02);
  -webkit-box-shadow: 1px 1px 14px -1px #000000; 
  box-shadow: 1px 1px 14px -1px #000000;
}

.card img{
  max-width: 100%;
  max-height: 100%;
}

.row{
  width:100%;
 justify-content: center;
  margin: 50px auto;
}

.contactAbout{
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(226,101,101,1) 100%);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 500px;
}
.contact{
  margin-top: 50px;
  width: 700px;
}

.contact li{
  display: inline;
}

.contact img{
  width: 50px;
  margin: 50px;
  transition: 500ms;
  transform-origin: center;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.contact img:hover{ 
  opacity: 50%;
}

.modal-content{
  background: rgba(255, 255, 255, 0.28);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.9px);
  -webkit-backdrop-filter: blur(10.9px);
  border: 1px solid rgba(255, 255, 255, 0.14);
  color: #fff;
  text-align: center;
  padding: 20px 20px;
  margin: auto;
}

.contactAbout{
align-items: center;
justify-content: center;
}


@media(max-width: 770px){

  .card{
    margin: 15px 20px;
    width: 70%;
  }
html{
  width: 100%;
  margin: 0;
}

.contact ul{
align-items: center;
justify-content: center;
}
}